/* Overall styling for the projects section */
#projects {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

/* Styling for the title from the projects section */
.projectsTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 0.5rem;
}

/* Styling for the container that has the list of projects */
.projectsList {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

/* Styling for each item from the projects section */
.projectsItem {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    background: #8AAAE5;
    
}

/* Styling for the item images */
.projectsItemImg {
    object-fit: cover;
    height: 7rem;
    width: 8rem;
    margin-right: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
}

/* Styling for the item descriptions */
.projectsDesc>p {
    font-size: 0.9rem;
    font-weight: 200;
}

/* Styling for the links within the item descriptions */
.hyperLink {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

/* Styling to change the color when cursor is moved over the link */
.hyperLink:hover {
    color: white;
}


