/* Overall styling for the projects section */
#home {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* Styling for the Avatar in the homepage */
.avatar {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

/* Styling for the container that has the home Content */
.homeContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling to change the color of the Name */
.devName {
    color: #8AAAE5;
}

/* Styling for the brief description introduction */
.description {
    font-size: medium;
    font-weight: 400;

}