/* Global CSS styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Bree+Serif', sans-serif;

}

/* Styling for the body */
body {
    background: white;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}