/* Overall styling for the skills section */
#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
}

/* Styling for the the Title from the skills section */
.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

/* Styling for the container that has the list of skills */
.skillList {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

/* Styling for each item from the skills section */
.skillItem {
    background: #8AAAE5;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

