/* Overall styling for the about section */
#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 10rem;
}

/* Styling for the title from the about section */
.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

/* Styling for the container */
.aboutList {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

/* Styling for each item from the projects section */
.aboutItem {
    background: #8AAAE5;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Styling for the description in each item */
.aboutDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    margin-bottom: 30rem;
}