/* Ovverall styling for the contact section */
#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for the title from the contact section */
.contactTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Styling for the description in the contact section */
.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 400;
}

/* Styling for the container that has the different contact information */
.contactList {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

/* Styling for the email component of the contact section */
.contactEmail {
    font-size: medium;
    width: 30%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
    background: #8AAAE5;
    border: 1px solid black;
    border-radius: 1rem;

}

/* Styling for the phone number component fo the contact section */
.contactPhone {
    font-size: medium;
    width: 30%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
    background: #8AAAE5;
    border: 1px solid black;
    border-radius: 1rem;
}

